<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Formular</title>
</head>
<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-4">
<h1>You searched for: <%= data.userQuery %></h1>

<% if(data.loggedIn){ %> 
    <h2> You are logged in as: <%=data.username %></h2>
<% } %>

<ul>
    <% data.searchResults.forEach(result => { %>
        <li> <%= result %> </li>
    <% }); %>
</ul>
</div>
<div class="col-lg-4"></div>

</div>
</body>
</html>
